#Pageleft { width:200px; float:left; overflow:auto; }
#Pageleft .aboutMenu {width: 200px; overflow: hidden; height: auto; float: left; margin: 0px; padding: 0 0 100px 0; background: #f2f2f2}
#Pageleft .aboutMenu li {width:100%; height: 50px; float: left; list-style: none; font: 400 18px 'Oxygen',sans-serif; line-height: 50px; }
#Pageleft .aboutMenu li a{color: #444}
#Pageleft .aboutMenu li a:hover {background: #cd3333; color: #fff}
#Pageleft .aboutMenu li a {display:block; padding-left: 10px}
#Pageleft .active {background: #cd3333;}
#Pageleft li.active a {color: #fff}

#Pagecenter { width:630px; float:left; margin-left: 20px}
#Pagecenter .topImg {width: 630px; height: 200px; position: relative; float: left}
#Pagecenter .topImg span {width: auto; height: 50px; background: #cd3333; position: absolute; right: 20px; bottom: 20px; font-size: 16px; color: #fff; line-height: 50px; padding: 0 20px 0 20px}

#Pagecenter .aboutText {width: 630px; height: auto; float: left}
#Pagecenter .aboutText span {padding: 10px 0 10px 0; float: left;}
#Pagecenter .uyeImg {width: 150px; height: 200px; float: left; position: relative; margin: 25px 80px 0 0 }
#Pagecenter .uyeImg:nth-child(3n+3) {margin-right: 0px}
#Pagecenter .zoom img {position: absolute; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; border: 4px solid #f2f2f2; left: 0px; top: 0px; z-index: 1;}
#Pagecenter .uyeImg  span {width: 100%; height: 35px; position: absolute; bottom: 0px; left: 0px; text-align: center; padding-top: 15px; z-index: 10;}
#Pagecenter .zoom {width:158px; height:158px; cursor: pointer; display:block; position:absolute; left: 0px; top: 0px; overflow:hidden; z-index: 1; background:#fff url(../images/loader.gif) no-repeat center;}
#Pagecenter .zoomOverlay { position:absolute; width: 150px; height: 150px; top:4px; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; z-index: 5; left:5px; bottom:0; right:0; display:none; background-image:url(../images/zoom.png); background-repeat:no-repeat;background-position:center;}

#Pagecenter #popup-wrapper {float: left; width: 590px; height: auto;}
#Pagecenter .popupTop {width: 100%; height: 55px; float: left; background: #cd3333;color: #fff}
#Pagecenter .popupTop .popTitle {width: 525px; height: 46px; float: left; padding: 9px 0 0 15px;}
#Pagecenter .popupTop .popTitle p {width: 100%; height: 20px; float: left; font-size: 18px; color: #fff; padding: 0px; margin: 0px}
#Pagecenter .popupTop .popTitle span {width: 100%; height: 20px; float: left; font-size: 14px; color: #77caff;}
#Pagecenter .popupTop #close-btn {width: 45px; height: 55px; float: right; background: #2296e1; text-align: center; color: #fff; font-size: 25px; line-height: 55px;}
#Pagecenter .popupTop #close-btn:hover {background: #30a5f1}
#Pagecenter .popContent {width: 550px;height: auto;float: left;background: #fff;padding: 20px 20px 40px 20px;}
#Pagecenter .popContent .popLeft {width: 160px; height: auto; float: left; margin: 0 0 0 10px}
#Pagecenter .popContent .popLeft img {border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;border:4px solid #f2f2f2;}
#Pagecenter .popContent .popLeft span {float: left;width: 100%;height: 50px;text-align: center;color: #444;line-height: 50px;}
#Pagecenter .popContent .popRight {width: 350px;height: auto;float: right;margin-left: 10px;font-size: 14px;color: #444;}